## Creating train and test information files

In [1]:
import pandas as pd
import numpy as np
import torch 
import torch.nn as nn

In [50]:
df_path = "../../../../data/padmalab_external/special_project/physionet.org/files/ptb-xl/1.0.3/ptbxl_label_10_dx.csv"

In [51]:
df = pd.read_csv(df_path)
df.head(-10)

,Unnamed: 0,filename_lr,filename_hr,NORM,Acute MI,Old MI,STTC,CD,HYP,PAC,PVC,AFIB/AFL,TACHY,BRADY
0,0,records100/00000/00001_lr,records500/00000/00001_hr,1,0,0,0,0,0,0,0,0,0,0
1,1,records100/00000/00002_lr,records500/00000/00002_hr,1,0,0,0,0,0,0,0,0,0,1
2,2,records100/00000/00003_lr,records500/00000/00003_hr,1,0,0,0,0,0,0,0,0,0,0
3,3,records100/00000/00004_lr,records500/00000/00004_hr,1,0,0,0,0,0,0,0,0,0,0
4,4,records100/00000/00005_lr,records500/00000/00005_hr,1,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21784,21784,records100/21000/21823_lr,records500/21000/21823_hr,1,0,0,0,0,0,0,0,0,0,0
21785,21785,records100/21000/21824_lr,records500/21000/21824_hr,0,0,1,0,0,0,0,0,0,0,0
21786,21786,records100/21000/21825_lr,records500/21000/21825_hr,1,0,0,0,0,0,0,0,0,0,0
21787,21787,records100/21000/21826_lr,records500/21000/21826_hr,0,0,1,0,0,0,0,0,0,0,0
21788,21788,records100/21000/21827_lr,records500/21000/21827_hr,0,0,1,1,0,0,0,0,0,0,0

In [52]:
prefix = '../../../../../home/saifulislam/work/physionet/physionet2024/python-example-2024-main/physionet.org/files/ptb-xl/1.0.3/records100/gen_full_clean_h/'
df['path'] = df['filename_lr'].apply(lambda x: prefix + x.split('/')[-1] + '-0.png')

In [53]:
df['path'][0]

'../../../../../home/saifulislam/work/physionet/physionet2024/python-example-2024-main/physionet.org/files/ptb-xl/1.0.3/records100/gen_full_clean_h/00001_lr-0.png'

In [54]:
one_hot_columns = ['NORM', 'Acute MI', 'Old MI', 'STTC', 'CD', 'HYP', 'PAC', 'PVC', 'AFIB/AFL', 'TACHY', 'BRADY']

# Combine the columns into a list and store it in a new column called 'label'
df['label'] = df[one_hot_columns].values.tolist()

# Display the updated DataFrame
print(df[['label']].head())

                               label
0  [1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
1  [1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1]
2  [1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
3  [1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
4  [1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [55]:
df = df[['path', 'label']]
# Reset the index
df = df.reset_index(drop=True)
df.head()

,path,label
0,../../../../../home/saifulislam/work/physionet...,"[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]"
1,../../../../../home/saifulislam/work/physionet...,"[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1]"
2,../../../../../home/saifulislam/work/physionet...,"[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]"
3,../../../../../home/saifulislam/work/physionet...,"[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]"
4,../../../../../home/saifulislam/work/physionet...,"[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]"

In [56]:
len(df)

21799

In [57]:
# Function to check if all elements in the label list are zeros
def is_all_zeros(label_list):
    return all(value == 0 for value in label_list)

# Apply the function to each row and get the indices where the condition is True
zero_label_indices = df.index[df['label'].apply(is_all_zeros)].tolist()

print(len(zero_label_indices))
print("Indices of rows where all elements in 'label' are zero:", zero_label_indices)

284
Indices of rows where all elements in 'label' are zero: [137, 182, 374, 377, 485, 1386, 1448, 1583, 1628, 1661, 2077, 2192, 2205, 2473, 2572, 2577, 2649, 2813, 2870, 3657, 3708, 3778, 3780, 3781, 3873, 3970, 4034, 4161, 4472, 4668, 4826, 4902, 4955, 5048, 5101, 5115, 5116, 5425, 5513, 5520, 5524, 5527, 5581, 5638, 5699, 5736, 5767, 6012, 6365, 6470, 6540, 6575, 6808, 7099, 7183, 7424, 7489, 7496, 7609, 7756, 7759, 7804, 7842, 8036, 8239, 8295, 8343, 8455, 8506, 8519, 8610, 8724, 8728, 8940, 8943, 8946, 8965, 9008, 9022, 9105, 9134, 9158, 9304, 9527, 9533, 9658, 9799, 10529, 10578, 10679, 10709, 10841, 10849, 11053, 11209, 11344, 11441, 11452, 11460, 11528, 11599, 11613, 11663, 11673, 11750, 11833, 11847, 11879, 11882, 11883, 11950, 11968, 11995, 12051, 12123, 12154, 12260, 12432, 12484, 12493, 12500, 12549, 12655, 12837, 12921, 12992, 13099, 13145, 13152, 13161, 13164, 13410, 13423, 13475, 13507, 13516, 13556, 13597, 13732, 13766, 14336, 14481, 14572, 14683, 14769, 14802, 14817, 14919, 14926, 14957, 14989, 15005, 15008, 15009, 15180, 15197, 15203, 15204, 15235, 15286, 15299, 15310, 15407, 15420, 15439, 15449, 15545, 15548, 15561, 15635, 15803, 15819, 15829, 16012, 16018, 16038, 16207, 16274, 16338, 16393, 16407, 16450, 16465, 16480, 16544, 16567, 16648, 16708, 16836, 16841, 16957, 17027, 17028, 17055, 17060, 17246, 17346, 17353, 17468, 17563, 17970, 18179, 18208, 18286, 18391, 18400, 18404, 18426, 18437, 18449, 18560, 18567, 18575, 18675, 18864, 18870, 19007, 19054, 19057, 19079, 19310, 19319, 19379, 19432, 19474, 19570, 19677, 19700, 19702, 19730, 19732, 19823, 19888, 19974, 19997, 20004, 20012, 20033, 20056, 20142, 20148, 20171, 20270, 20324, 20428, 20466, 20473, 20474, 20565, 20646, 20654, 20655, 20694, 20729, 20738, 20742, 20768, 20778, 20847, 20888, 20913, 20964, 21032, 21121, 21129, 21130, 21131, 21132, 21133, 21154, 21271, 21369, 21380, 21439, 21459, 21478, 21480, 21483, 21533, 21539, 21555, 21563, 21650, 21778]

In [58]:
df = df.drop(zero_label_indices)
print(len(df))
df.head()

21515

,path,label
0,../../../../../home/saifulislam/work/physionet...,"[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]"
1,../../../../../home/saifulislam/work/physionet...,"[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1]"
2,../../../../../home/saifulislam/work/physionet...,"[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]"
3,../../../../../home/saifulislam/work/physionet...,"[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]"
4,../../../../../home/saifulislam/work/physionet...,"[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]"

In [60]:
# Function to check if all elements in the label list are zeros
def is_all_zeros(label_list):
    return all(value == 0 for value in label_list)

# Apply the function to each row and get the indices where the condition is True
zero_label_indices = df.index[df['label'].apply(is_all_zeros)].tolist()

print(len(zero_label_indices))
print("Indices of rows where all elements in 'label' are zero:", zero_label_indices)

0
Indices of rows where all elements in 'label' are zero: []

In [61]:
from sklearn.model_selection import train_test_split

# Assuming df is your DataFrame
train_df, test_df = train_test_split(df, test_size=0.2, random_state=42)

# Optionally, reset the index for both DataFrames
train_df = train_df.reset_index(drop=True)
test_df = test_df.reset_index(drop=True)

# Display the number of rows in each set
print(f"Training set size: {len(train_df)}")
print(f"Test set size: {len(test_df)}")

Training set size: 17212
Test set size: 4303

In [62]:
# Save the training set as JSON records
train_df.to_json('train-100.json', orient='records')

# Save the test set as JSON records
test_df.to_json('test-100.json', orient='records')

# Verify the files have been saved
print("Training set saved as 'train_records.json'")
print("Test set saved as 'test_records.json'")

Training set saved as 'train_records.json'
Test set saved as 'test_records.json'

In [63]:
test_df = pd.read_json('test-100.json')
test_df.head()

,path,label
0,../../../../../home/saifulislam/work/physionet...,"[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]"
1,../../../../../home/saifulislam/work/physionet...,"[0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0]"
2,../../../../../home/saifulislam/work/physionet...,"[0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0]"
3,../../../../../home/saifulislam/work/physionet...,"[0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0]"
4,../../../../../home/saifulislam/work/physionet...,"[0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0]"

In [64]:
type(test_df['label'][0])

list

## Dataset class

In [65]:
import json
import pandas as pd
from PIL import Image
from torch.utils.data import Dataset

class ECGDataset(Dataset):
    def __init__(self, json_file, transform=None):
        # Load records from JSON file
        with open(json_file, 'r') as f:
            records = json.load(f)
        
        # Convert to DataFrame and reset index
        self.records = pd.DataFrame(records).reset_index(drop=True)
        self.transform = transform

    def __len__(self):
        return len(self.records)

    def __getitem__(self, idx):
        # Ensure idx is an integer
        if isinstance(idx, torch.Tensor):
            idx = idx.item()
        
        # Get the record corresponding to the idx
        record = self.records.iloc[idx]
        
        # Load the image
        image_path = record['path']
        image = Image.open(image_path).convert('RGB')
        
        # Apply transformations if provided
        if self.transform:
            image = self.transform(image)
        
        # Get the label
        label = record['label']
        
        return image, torch.tensor(label, dtype=torch.float)

In [66]:
from torch.utils.data import DataLoader
import torchvision.transforms as transforms

# Define a transform for the images
transform = transforms.Compose([
    transforms.Resize((224, 224)),  # Resize images to 224x224 pixels
    transforms.ToTensor(),          # Convert images to tensors
    transforms.Normalize(mean=[0.485, 0.456, 0.406], std=[0.229, 0.224, 0.225])
])

# Create the dataset
train_dataset = ECGDataset(json_file='train-100.json', transform=transform)
# Create the DataLoader
train_loader = DataLoader(train_dataset, batch_size=32, shuffle=False, num_workers=4)

# Create the dataset
test_dataset = ECGDataset(json_file='test-100.json', transform=transform)
# Create the DataLoader
test_loader = DataLoader(test_dataset, batch_size=32, shuffle=False, num_workers=4)

for img, lab in train_loader:
    print(img.shape, lab.shape)
    break

for img, lab in test_loader:
    print(img.shape, lab.shape)
    break

torch.Size([32, 3, 224, 224]) torch.Size([32, 11])
torch.Size([32, 3, 224, 224]) torch.Size([32, 11])

In [43]:
for batch_idx, (img, lab) in enumerate(train_loader):    
    # Check if any label in the batch is all zeros
    all_zero_labels = (lab.sum(dim=1) == 0).nonzero(as_tuple=True)[0]
    if len(all_zero_labels) > 0:
        print("Examples with all-zero labels:")
        for idx in all_zero_labels:
            dataset_index = batch_idx * train_loader.batch_size + idx.item()
            print(f"Dataset Index {dataset_index}: All-zero labels detected")

In [69]:
for batch_idx, (img, lab) in enumerate(test_loader):
    # Move tensors to CPU if they are on GPU
    img = img.cpu()
    lab = lab.cpu()
    
    # Check for rows where all elements are zero
    for idx, row in enumerate(lab):
        if row.sum() == 0:
            print(f'Row index with all zeros: {idx}')

## Create csv for weijie

In [4]:
test_df = pd.read_json('test-100.json')
test_df.head()

,path,label
0,../../../../../home/saifulislam/work/physionet...,"[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]"
1,../../../../../home/saifulislam/work/physionet...,"[0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0]"
2,../../../../../home/saifulislam/work/physionet...,"[0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0]"
3,../../../../../home/saifulislam/work/physionet...,"[0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0]"
4,../../../../../home/saifulislam/work/physionet...,"[0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0]"

In [9]:
# Remove '../../../../../' from the start of each path in the 'path' column
test_df['path'] = test_df['path'].str.replace('../../../../../', '', regex=False)
test_df['path'] = test_df['path'].str.replace('gen_full_clean_h', 'gen_full', regex=False)

# Print the updated DataFrame to verify
print(test_df.head())

                                                path  \
0  home/saifulislam/work/physionet/physionet2024/...
1  home/saifulislam/work/physionet/physionet2024/...
2  home/saifulislam/work/physionet/physionet2024/...
3  home/saifulislam/work/physionet/physionet2024/...
4  home/saifulislam/work/physionet/physionet2024/...

                               label
0  [1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
1  [0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0]
2  [0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0]
3  [0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0]
4  [0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0]

In [10]:
test_df['path'][0]

'home/saifulislam/work/physionet/physionet2024/python-example-2024-main/physionet.org/files/ptb-xl/1.0.3/records100/gen_full/00435_lr-0.png'